.header {
    display: flex;
    font-size: 1.6rem;
    padding-left: 0.3rem;

    font-weight: 500;
    line-height: 1.9rem;

    &__main-logo {
        max-width: 22ch;
        font-size: 1rem;
        line-height: 1.2rem;
        margin-right: 5rem;
    }

    &__list {
        padding-top: 0.4rem;
        gap: 3.06rem;
        display: flex;
    }

    &__phone {
        margin-left: 13.9rem;
        padding-top: 0.4rem;
    }

    &__logos {
        margin-left: auto;
        padding-top: 0.3rem;
        display: flex;
        gap: 3.4rem;
    }
}

.main-logo {
    &__p {
        font-weight: 300;
        margin-top: 1rem;
        max-width: 23ch;
    }
}

@mixin defaultFont() {
    font-size: 1.8rem;
    line-height: 2.2rem;
}

.content {
    margin-top: 9rem;
    display: flex;
    justify-content: space-between;

    &__main {
        padding: 0.2rem;
        max-width: 43ch;
    }

    &__side {
        padding-top: 1.7rem;
        display: flex;
        gap: 4rem;
        flex-direction: column;
        align-items: flex-end;
        text-align: right;
    }
}

.main {
    &__heading {
        font-size: 4.8rem;
        line-height: 5.8rem;
        font-weight: 400;
        margin-bottom: 3rem;
    }
    &__p {
        font-weight: 400;
        @include defaultFont();
    }
}

.side {
    &__heading {
        max-width: 24ch;
        font-weight: 500;
        @include defaultFont();
    }

    &__list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 2.5rem;
        row-gap: 3rem;
    }

    &__button {
        font-family: Inter;
        margin-top: 2rem;
        background-color: var(--button-color);
        border: none;
        padding: 2.1rem 3.5rem;

        font-weight: 500;
        font-size: 1.6rem;
        line-height: 1.9rem;
    }
}

.item {
    max-width: 14ch;
    font-size: 1.6rem;
    line-height: 1.25em;
    &__heading {
        margin-bottom: 0.6rem;
        font-weight: 500;
        @include defaultFont();
        letter-spacing: 0.05em;
    }
}

.p {
    font-family: "Montserrat";
}

@mixin footer-menu {
    margin-top: 2rem;
    gap: 1rem;
}

.footer {
    margin-top: 6.9rem;
    padding-top: 5.5rem;
    padding-left: 0.2rem;
    display: flex;
    gap: 9.3rem;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.9rem;

    &__about {
        min-width: 20ch;
    }

    &__list {
        @include footer-menu();
        display: grid;
        column-gap: 3.1rem;
        grid-template-columns: 144fr 212fr;
        min-width: 44ch;
    }
    &__contacts {
        margin-left: auto;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 2.1rem;
    }
}
.logos {
    display: flex;
    gap: 1.5rem;
}

.about {
    &__list {
        @include footer-menu();
        display: flex;
        flex-direction: column;
    }
}

.heading {
    color: var(--heading-color);
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 1.7rem;
    letter-spacing: 0.05em;
}

.list {
    list-style: none;
}

@mixin text-gradient($gradient) {
    background: var($gradient);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-weight: 700;
    letter-spacing: 0.05em;
}

.bold-gradient {
    @include text-gradient(--bold-gradient);
}
.bold-gradient2 {
    @include text-gradient(--bold-gradient2);
}

.bold {
    font-weight: 900;
    letter-spacing: 0;
}

.trademark {
    margin-top: 3.3rem;
    text-align: right;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.5rem;

    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    &__a {
        text-decoration: underline;
    }
}

.purple-blob {
    position: absolute;
    width: 259px;
    height: 259px;
    left: 602px;
    top: -154px;

    background: #833ab4;
    opacity: 0.5;
    filter: blur(196px);
}

.red-blob {
    position: absolute;
    width: 311px;
    height: 311px;
    left: -102px;
    top: 251px;

    background: #961a1a;
    opacity: 0.5;
    filter: blur(196px);
}

.big-red-ball {
    position: absolute;
    width: 83px;
    height: 83px;
    left: 519px;
    top: 83px;
    border-radius: 100%;

    background: radial-gradient(
        64% 64% at 27.25% 26.5%,
        rgba(255, 208, 208, 0.536) 0%,
        rgba(212, 93, 93, 0.264) 59.67%,
        rgba(167, 49, 49, 0.248) 78.59%,
        rgba(130, 25, 25, 0.248) 100%
    );
    box-shadow: 3px 6px 27px -10px rgba(223, 125, 125, 0.25);
    backdrop-filter: blur(2px);
}

.small-red-ball {
    position: absolute;
    width: 28px;
    height: 28px;
    left: 851px;
    top: 547px;
    border-radius: 100%;

    background: radial-gradient(
        64% 64% at 27.25% 26.5%,
        rgba(255, 208, 208, 0.48) 0%,
        rgba(212, 93, 93, 0.248) 59.67%,
        rgba(167, 49, 49, 0.264) 78.59%,
        rgba(130, 25, 25, 0.232) 100%
    );
    box-shadow: 3px 6px 27px -10px rgba(223, 125, 125, 0.25);
    filter: blur(2.5px);
    backdrop-filter: blur(2px);
}

.purple-ball {
    position: absolute;
    width: 60px;
    height: 60px;
    left: 868px;
    top: -2px;
    border-radius: 100%;

    background: radial-gradient(
        64% 64% at 27.25% 26.5%,
        rgba(236, 208, 255, 0.64) 0%,
        rgba(161, 93, 207, 0.24) 59.67%,
        rgba(118, 49, 164, 0.208) 78.59%,
        rgba(86, 24, 128, 0.232) 100%
    );
    box-shadow: 3px 6px 27px -10px rgba(177, 118, 217, 0.25);
    filter: blur(5px);
    backdrop-filter: blur(2px);
}

@media screen and (min-width: 90rem) {
    .desktop-hide {
        display: none;
    }
}

@media screen and (max-width: 30rem) {
    .header {
        z-index: 1;
        background-color: var(--bg-color);
        display: block;
        padding: 2rem 1.6rem;

        &__main-logo {
            display: none;
        }

        &__list {
            padding: 0;
            gap: 1.7rem;
            font-weight: 500;
            font-size: 1.2rem;
            line-height: 1.5rem;
            text-transform: uppercase;
        }
    }

    .content {
        background-image: url("/noise.png");
        background-image: url("/noise.png"),
            radial-gradient(
                238.53% 189.02% at 3.2% 3.49%,
                rgba(255, 246, 233, 0.1) 0%,
                rgba(26, 29, 35, 0.1) 26.62%,
                rgba(26, 29, 35, 0.1) 52.1%,
                rgba(26, 29, 35, 0.01) 70.17%,
                rgba(26, 29, 35, 0) 100%
            );

        backdrop-filter: blur(7.5px);
        margin-top: 0;
        padding: 4rem 3.3rem 5.5rem 1.5rem;
        flex-wrap: wrap;
        gap: 4.5rem;

        &__main {
            z-index: 1;
            padding: 0;
        }

        &__side {
            padding-top: 0;
            z-index: 1;
            align-items: flex-start;
            gap: 2.1rem;
        }
    }

    .main {
        &__heading {
            font-weight: 400;
            font-size: 3.6rem;
            line-height: 4.4rem;
            margin-bottom: 1.5rem;
        }
        &__p {
            min-width: 22ch;
        }
    }

    .side {
        &__heading {
            text-align: left;
        }

        &__list {
            grid-template-columns: 114fr 141fr;
            justify-items: left;
            gap: 0.82rem;
        }
    }

    .item {
        font-family: "Montserrat";
        font-style: normal;
        justify-items: start;

        &__heading {
            font-weight: 400;
            font-size: 1.3rem;
            line-height: 1.6rem;
            text-align: left;
        }

        &--skype {
            grid-row: 1;
            grid-column: 1;
        }

        &--dashboard {
            grid-row: 2;
            grid-column: 1;
        }

        &--mobile-line {
            position: relative;
            margin-left: 1.5rem;

            &::before {
                position: absolute;
                top: 30%;
                left: -1.5rem;
                content: "";
                width: 1rem;
                height: 0.2rem;
                background-image: var(--bold-gradient2);
            }
        }
    }

    .mobile-hide {
        display: none;
    }

    .mobile-tolower {
        text-transform: lowercase;
    }

    .footer {
        margin-top: 0;
        position: relative;
        z-index: 1;
        background-color: var(--bg-color);
        padding: 3.8rem 1.6rem;
        flex-wrap: wrap;
        gap: 3rem;

        font-size: 1.4rem;
        line-height: 1.7rem;

        &__list {
            grid-template-columns: 8fr 10fr;
            min-width: 0;
            row-gap: 1rem;
            column-gap: 3.3rem;
        }

        &__item {
            max-width: 14ch;
        }

        &__contacts {
            align-items: flex-start;
            margin-left: 0;
            gap: 1.1rem;
        }
    }

    .logo {
        width: 2rem;
        height: 2rem;
    }

    .heading {
        font-size: 1.2rem;
        line-height: 1.5rem;
        letter-spacing: 0.05em;
    }

    .contacts {
        margin-bottom: 10px;

        &__heading {
            margin-bottom: 10px;
        }
    }
    .phone {
        font-size: 1.6rem;
        line-height: 1.9rem;
        font-weight: 500;
    }

    .trademark {
        margin-top: 1.2rem;
        padding: 0 1.6rem 6rem;
        text-align: left;
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .bold-gradient,
    .bold-gradient2 {
        letter-spacing: 0;
    }

    .purple-blob {
        left: 258px;
        top: 107px;
    }

    .red-blob {
        width: 211px;
        height: 210px;
        left: -55px;
        top: 241px;
        opacity: 1;
    }

    .small-red-ball {
        z-index: -1;
        width: 43px;
        height: 43px;
        left: 29px;
        top: 402px;
        background: radial-gradient(
            64% 64% at 27.25% 26.5%,
            rgba(255, 208, 208, 0.536) 0%,
            rgba(212, 93, 93, 0.264) 59.67%,
            rgba(167, 49, 49, 0.248) 78.59%,
            rgba(130, 25, 25, 0.248) 100%
        );
    }

    .purple-ball {
        z-index: -1;
        width: 40px;
        height: 40px;
        left: 296px;
        top: 236px;
    }

    .big-red-ball {
        display: none;
    }
}
