.header {
    display: flex;

    font-weight: 500;
    line-height: 19px;

    &__main-logo {
        font-family: Montserrat;
        font-weight: 300;
        font-size: 12px;
        line-height: 14px;
        margin-right: 52px;
    }

    &__list {
        padding-top: 4px;
        gap: 30px;
        display: flex;
    }

    &__phone {
        margin-left: auto;
    }

    &__logos {
        margin-left: 49px;
        display: flex;
        gap: 32px;
    }
}

.content {
    height: 100%;
    margin-top: 90px;
    display: flex;
    justify-content: space-between;

    &__main {
        max-width: 38ch;
    }

    &__side {
        display: flex;
        gap: 40px;
        flex-direction: column;
        align-items: flex-end;
        text-align: right;
    }
}

.main {
    &__heading {
        font-size: 48px;
        line-height: 58px;
        font-weight: 400;
        margin-bottom: 30px;
    }
    &__p {
        max-width: 23ch;
        font-family: "Montserrat";
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
    }
}

.side {
    &__heading {
        max-width: 23ch;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
    }

    &__list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
    }

    &__button {
        margin-top: 20px;
        background-color: var(--button-color);
        border: none;
        padding: 21px 35px;

        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
    }
}

.item {
    max-width: 13ch;
    &__heading {
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
    }
}

@mixin footer-menu {
    margin-top: 20px;
    gap: 10px;
}

.footer {
    margin-top: 124px;
    display: flex;
    gap: 98px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    &__about {
        min-width: 20ch;
    }

    &__list {
        @include footer-menu();
        display: grid;
        grid-template-columns: 1fr 1fr;
        min-width: 44ch;
    }
    &__contacts {
        margin-left: auto;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: 20px;
    }
}
.logos {
    display: flex;
    gap: 10px;
}

.about {
    &__list {
        @include footer-menu();
        display: flex;
        flex-direction: column;
    }
}

.heading {
    color: var(--heading-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
}

.list {
    list-style: none;
}

@mixin text-gradient($gradient) {
    background: var($gradient);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}
.bold-gradient {
    @include text-gradient(--bold-gradient);
}
.bold-gradient2 {
    @include text-gradient(--bold-gradient2);
}

.main-logo {
    &__p {
        margin-top: 10px;
        max-width: 23ch;
    }
}

.trademark {
    margin-top: 33px;
    margin-bottom: 20px;
    text-align: right;
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;

    &__a {
        text-decoration: underline;
    }
}

.purple-blob {
    position: absolute;
    width: 259px;
    height: 259px;
    left: 602px;
    top: -154px;

    background: #833ab4;
    opacity: 0.5;
    filter: blur(196px);
}

.red-blob {
    position: absolute;
    width: 311px;
    height: 311px;
    left: -102px;
    top: 251px;

    background: #961a1a;
    opacity: 0.5;
    filter: blur(196px);
}

.big-red-ball {
    position: absolute;
    width: 83px;
    height: 83px;
    left: 519px;
    top: 83px;
    border-radius: 3em;

    background: radial-gradient(
        64% 64% at 27.25% 26.5%,
        rgba(255, 208, 208, 0.536) 0%,
        rgba(212, 93, 93, 0.264) 59.67%,
        rgba(167, 49, 49, 0.248) 78.59%,
        rgba(130, 25, 25, 0.248) 100%
    );
    box-shadow: 3px 6px 27px -10px rgba(223, 125, 125, 0.25);
    backdrop-filter: blur(2px);
}

.small-red-ball {
    position: absolute;
    width: 28px;
    height: 28px;
    left: 851px;
    top: 547px;
    border-radius: 3em;

    background: radial-gradient(
        64% 64% at 27.25% 26.5%,
        rgba(255, 208, 208, 0.48) 0%,
        rgba(212, 93, 93, 0.248) 59.67%,
        rgba(167, 49, 49, 0.264) 78.59%,
        rgba(130, 25, 25, 0.232) 100%
    );
    box-shadow: 3px 6px 27px -10px rgba(223, 125, 125, 0.25);
    filter: blur(2.5px);
    backdrop-filter: blur(2px);
}

.purple-ball {
    position: absolute;
    width: 60px;
    height: 60px;
    left: 868px;
    top: -2px;
    border-radius: 3em;

    background: radial-gradient(
        64% 64% at 27.25% 26.5%,
        rgba(236, 208, 255, 0.64) 0%,
        rgba(161, 93, 207, 0.24) 59.67%,
        rgba(118, 49, 164, 0.208) 78.59%,
        rgba(86, 24, 128, 0.232) 100%
    );
    box-shadow: 3px 6px 27px -10px rgba(177, 118, 217, 0.25);
    filter: blur(5px);
    backdrop-filter: blur(2px);
}

@media screen and (max-width: 320px) {
    .header {
        z-index: 1;
        background-color: var(--bg-color);
        display: block;
        padding: 16px;

        &__main-logo {
            display: none;
        }

        &__list {
            gap: 0;
            justify-content: space-around;
            font-weight: 500;
            font-size: 12px;
            line-height: 15px;
            text-transform: uppercase;
        }
    }

    .content {
        margin-top: 0;
        padding: 40px 14px 55px;
        flex-wrap: wrap;
        gap: 45px;
        &__side{
            align-items: flex-start;
            gap: 20px;
        }
    }

    .main {
        &__heading {
            font-weight: 400;
            font-size: 36px;
            line-height: 44px;
        }
    }

    .side {
        &__heading {
            text-align: left;
        }

        &__list {
            justify-items: left;
        }
    }

    .item {
        max-width: unset;
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        line-height: 16px;
        letter-spacing: 0.05em;

        &--mobile-line {
            position: relative;
            margin-left: 15px;

            &::before {
                position: absolute;
                top: 50%;
                left: -15px;
                content: "";
                width: 10px;
                height: 2px;
                background-image: var(--bold-gradient2);
            }
        }
    }

    .mobile-hide {
        display: none;
    }

    .mobile-tolower {
        text-transform: lowercase;
    }

    .footer {
        margin-top: 0;
        z-index: 1;
        background-color: var(--bg-color);
        padding: 45px 16px;
        flex-wrap: wrap;

        &__list {
            min-width: 0;
        }

        &__item {
            max-width: 14ch;
        }

        &__contacts {
            align-items: flex-start;
            margin-left: 0;
            gap: 10px;
        }
    }

    .contacts {
        margin-bottom: 10px;

        &__heading {
            margin-bottom: 10px;
        }
    }

    .trademark {
        padding: 0 16px;
        text-align: left;
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .purple-blob {
        left: 258px;
        top: 107px;
    }

    .red-blob {
        width: 211px;
        height: 210px;
        left: -55px;
        top: 241px;
        opacity: 1;
    }

    .small-red-ball {
        width: 43px;
        height: 43px;
        left: 29px;
        top: 402px;
    }

    .purple-ball {
        width: 40px;
        height: 40px;
        left: 296px;
        top: 236px;
    }

    .big-red-ball{
        display: none;
    }
}
